{% extends "base.html" %}

{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/about.css' %}?v=1" />
{% endblock css%}


{% block title %}{{ block.super }} - About {% endblock title %}

{% block nav-about-classes %}active{% endblock nav-about-classes %}

{% block content %}
    <h4>Credits</h4>

    <p> This project would not have been possible without the help of our contributors and sponsors.
    We are especially thankful to those who contributed on their spare time, simply to improve the
        visibility of women in neuroscience.</p>
    <br>

    <!-- Board members -->
    <h4>Board</h4>
    <section id="boardvol" class="pb-5">
        <div class="container">
            <div class="row">
                <!-- Board member 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_JS-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_JS-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_JS-280.jpg' %}" alt="Jessica Schrouff">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Jessica Schrouff</h4>
                                        <p class="card-text">Machine Learning Research Scientist, London, UK</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Jessica graduated in Electrical Engineering from the University of Liège, Belgium. 
                                        She studied the application of machine learning methods to neuroimaging data during her PhD (Belgium) and post-doctoral work (Stanford, USA and UCL, UK). She is now working in industry.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Board member 2 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_SG-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_SG-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_SG-280.jpg' %}" alt="Sarah Genon">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Sarah Genon</h4>
                                        <p class="card-text">Research Fellow at INM-7 at the Forschungszentrum Jülich, Germany</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Sarah has a background in clinical psychology, cognitive neuroscience and functional neuroanatomy. Her research aims to develop methods for studying and modelling the relationships between brain and behavior in large scale neuroimaging and behavioral data.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Board member 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_AFP-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_AFP-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_AFP-280.jpg' %}" alt="Aina Frau-Pascual">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Aina Frau-Pascual</h4>
                                        <p class="card-text">Research Fellow at the Massachusetts General Hospital, Harvard Medical School, Boston, USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Aina is working on the development of methods for diffusion and functional MRI analysis. During her PhD at Inria (France), she developed statistical models for the analysis of BOLD and ASL task fMRI.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Board member 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_GL-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_GL-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_GL-280.jpg' %}" alt="Gabriella Liuzzi">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Gabriella Liuzzi</h4>
                                        <p class="card-text">FWO Postdoctoral Researcher at KU Leuven, Belgium</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Gabriella obtained her PhD at KULeuven in the Laboratory for Cognitive Neurology. Currently, she is a FWO Postdoctoral Researcher at KU Leuven. Her research program focuses on leveraging the huge advances in Natural Language Processing in computational sciences to address the neurobiology of sentence processing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Board member 5 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_DP-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_DP-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_DP-280.jpg' %}" alt="Doris Pischedda">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Doris Pischedda</h4>
                                        <p class="card-text">Postdoc at Charitè-Universitätsmedizin Berlin, Germany</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Doris’s PhD work at the University of Milano-Bicocca investigated how and where rules are encoded in the human brain. As a postdoc, she employs fMRI and multivariate decoding to characterize neural representations of task partners in human-human and human-robot interactions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Board member 6 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_AL-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_AL-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_AL-280.jpg' %}" alt="Ana Luísa Pinho">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Ana Luísa Pinho</h4>
                                        <p class="card-text">Postdoctoral Researcher at NeuroSpin (Inria/CEA-Saclay), Paris, France</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Ana Luísa graduated in Engineering Physics at Instituto Superior Técnico (ULisboa, Portugal). During her PhD at Karolinska Institutet (Stockholm, Sweden), she used fMRI to investigate the neural correlates involved in musical creativity. Now, she is developing a neuroimaging dataset to map cognition in the human brain.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Board member 7 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_EV-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_EV-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_EV-280.jpg' %}" alt="Eliana Vassena">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Eliana Vassena</h4>
                                        <p class="card-text">Marie-Curie Fellow at the Donders Institute for Brain, Cognition and Behaviour (Nijmegen, NL)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Eliana is interested in motivation and decision-making. During her PhD and postdoc she has used neuroimaging, neurostimulation and computational modelling to study the contribution of the prefrontal cortex to these processes. Currently, she works on translating neurocomputational models of motivation to neuropsychiatric populations.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Board member 8 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	  <picture>
                                                <source srcset="{% static 'profiles/images/Pic_MT-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_MT-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_MT-280.jpg' %}" alt="Matthew Turner">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Matthew Turner</h4>
                                        <p class="card-text">Manager for Center Administration at Center for Computational Neuroscience, Flatiron Institute, NYC, USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Matthew is a higher education and nonprofit administration professional with 15+ years experience in academic and faculty affairs, budget and finance, and administration, and currently manages a private neuroscience research center. He holds an MDiv from Harvard Divinity School focused on practical theology and harm reduction.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Collaborators -->
    <h4>Collaborators </h4>
    <section id="boardvol" class="pb-5">
        <div class="container">
            <div class="row">
                <!-- Collaborator 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:12.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_GF-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_GF-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_GF-280.jpg' %}" alt="Gregory Fryns">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Gregory Fryns</h4>
                                        <p class="card-text">Implementation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Gregory is a highly qualified computer science engineer with 10+ years experience in customer support and process improvement.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collaborator 2 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	  <picture>
                                                <source srcset="{% static 'profiles/images/Pic_MF-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_MF-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_MF-280.jpg' %}" alt="Morgat Foret">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Morgat Foret</h4>
                                        <p class="card-text">PhD Candidate, McGill University, Montreal, Canada</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Morgan graduated with a BSc Honours in Cell Biology from the University of Calgary in 2014. Since then, as part of her PhD work, she has been investigating the role of oxidative stress in Alzheimer’s disease by utilizing a transgenic animal model of AD and real-time fluorescence imaging strategies.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collaborator 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	  <picture>
                                                <source srcset="{% static 'profiles/images/Pic_AS-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_AS-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_AS-280.jpg' %}" alt="Aníbal Sólon">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Aníbal Sólon</h4>
                                        <p class="card-text">PhD Student at University of Texas at Austin, TX, USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Aníbal (he/him) is a Computer Science Ph.D. student, developing methods for fMRI preprocessing and analysis. His research investigates reproducible biomarkers of mental disorders in brain function imaging. Passionate about programming and open source, Anibal’s experience in diverse projects sums to 15 years.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collaborator 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	  <picture>
                                                <source srcset="{% static 'profiles/images/Pic_PM-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_PM-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_PM-280.jpg' %}" alt="Paola Mengotti">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Paola Mengotti</h4>
                                        <p class="card-text">Postdoctoral Researcher at Forschungszentrum Jülich, INM3 - Cognitive Neuroscience</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Paola’s research focuses on understanding the impact of expectations on spatial attention by combining computational modelling of behavior with fMRI and TMS. During her PhD in cognitive neuroscience at SISSA (Trieste, Italy), she investigated the neural correlates of gesture imitation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ALUMNI members -->
    <h4>ALUMNI</h4>
    <section id="cont" class="pb-5">
        <div class="container">
            <div class="row">
                <!-- ALUMNI member 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:15.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_FF-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_FF-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_FF-280.jpg' %}" alt="Fábio Ferreira">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Fábio Ferreira</h4>
                                        <p class="card-text">PhD Candidate at University College London, London, UK</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Fábio graduated in Biomedical Engineering at University of Coimbra, Portugal. His research interests lie on implementing and applying machine learning methods to multiple data modalities to identify biomarkers of mental health disorders and find reliable subgroups of patients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ALUMNI member 2 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:12.5rem">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_LB-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_LB-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_LB-280.jpg' %}" alt="Laetitia Briere">
                                            </picture>                                        </p>
                                        <h4 class="card-title">Laetitia Briere</h4>
                                        <p class="card-text">Design</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Laetitia is a freelance designer based in France. She creates visual identities, including logos, flyers, posters, websites, based on the unique needs of her clients. 
                                        To find out more, see her portfolio at <a href ="https://www.lbgraphiste.fr">www.lbgraphiste.fr</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ALUMNI member 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:12.5rem">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_LS-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_LS-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_LS-280.jpg' %}" alt="Laura Symul">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Laura Symul</h4>
                                        <p class="card-text">Illustrations</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text" >Laura has worked as a data scientist, done data visualisations and science communication for the industry, international organisations and academia. 
                                        Her freelance activities include workshops, training and consulting on data visualisation and scientific illustration.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ALUMNI member 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="max-width:12.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                        	<picture>
                                                <source srcset="{% static 'profiles/images/Pic_DS-280.webp' %}" type="image/webp">
                                                <source srcset="{% static 'profiles/images/Pic_DS-280.jpg' %}" type="image/jpeg">
                                                <img src="{% static 'profiles/images/Pic_DS-280.jpg' %}" alt="Diana Sousa">
                                            </picture>
                                        </p>
                                        <h4 class="card-title">Diana Sousa</h4>
                                        <p class="card-text">Logo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Diana is a Graduate Student Researcher at Faculty of Sciences, University of Lisbon and has been working in a few projects as a Graphic Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h4>Sponsors</h4>
    <ul>
        <li>Donders Institute</li>
        <li>Convelop</li>
        <li>Athena SWAN committee at the Computer Science Department, University College London</li>
        <li>Marie Curie Alumni Association: micro-grant to J.S.</li>
    </ul>

    <h4>Scientific sponsors</h4>
    <ul>
        <li><a href="https://biaswatchneuro.com/">Bias Watch Neuro</a></li>
    </ul>

    <h4>Acknowledgments</h4>
    <ul>
        <li><a href="https://brainthemind.com/">Virginie van Wassenhove</a></li>
        <li><a href="http://people.duke.edu/~jmgroh/">Jennifer Groh</a></li>
        <li><a href="http://churchlandlab.labsites.cshl.edu//">Anne Churchland</a></li>
    </ul>
    {% endblock content %}
