{% extends "base.html" %}

{% load static %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/home.css' %}?v=3" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<style>
		* {
  			box-sizing: border-box;
		}
		.column {
  			float: left;
		}
		.row:before {
  			content: "";
  			display: table;
  			clear: both;
		}
		#twitter-widget-holder{ 
			height: 300px;
			padding-top: 10px;
			padding-left: 10px;
			padding-bottom: 10px;
			background:#fff; 
			border-radius:3px; 
			box-shadow:2px 2px 3px rgba(0,0,0,.1);
			overflow: hidden; 
		}
		.scrollable {
    		overflow-y: auto !important;
    		overflow-x: hidden !important;
    		height: 280px;
		}
		html,
		body {
			margin: 0
			border: 0
		}
		.banner {
			background: #009579
		}
		.banner__content{
			padding: 50px;
			max-width: 500px; <!--width of the text box -->
			margin: 0 auto; <!--center the text box -->
			display: flex;
			align-items: center;
		}
		.banner__text {
			flex-grow: 1;
			line-height: 1.4;
			font-family: 'Quicksand', sans-serif;
		}
		.banner__close {
			background: none;
			border: none;
			cursor: pointer;
		}
		.banner__text,
		.banner__close > span {
			color: #ffffff;
		}
    </style>
{% endblock css%}

{% block nav-home-classes %}active{% endblock nav-home-classes %}

{% block page_container %}
{% endblock page_container %}

{% block full_page_content %}

<div class="banner">
	<div class="banner__content">
		<div class="banner__text">
			Bottom Left
		</div>
		<button class="banner__close" type="button">
			<span class="material-symbols-outlined">
				close
			</span>
		</button>
	</div>
</div>
<!--Java script code to make the button work-->
<script>
	document.querySelector(".banner__close").addEventListener("click", function() {
		this.closest(".banner").style.display = "none";
	});
</script>

<div class="container-fluid p-0">
<picture id="hero-image">
	<source srcset="{% static 'profiles/images/banner2-1600.webp' %}" type="image/webp">
	<source srcset="{% static 'profiles/images/banner2.jpg' %}" type="image/jpeg"> 
	<img src="{% static 'profiles/images/banner2.jpg' %}" alt="Header Image">
</picture>
</div>
<div class="container-fluid" id="home-search">
	<form action="{% url 'profiles:index' %}" method="get" class="input-group bg-white rounded p-1 mx-auto">
		<input type="text" id="search-input" class="form-control" placeholder="Enter search keywords here..." aria-label="Search" name="s" autofocus>
		<button type="submit" id="search-btn" class="btn btn-secondary bg-secondary ps-4 pe-4">Search</button>
	</form>
</div>
<div class="container-fluid bg-primary text-white pt-5 pb-5" id="intro-container">
	<div class="row no-gutters p-4">
		<div class="col-md-4 offset-md-4 text-center">
			<h1 class="headtitle"> <span class="women">Women</span> in Neuroscience </h1>
		</div>
	</div>
	<div class="row no-gutters p-4">
		<div  class="col-md-10 offset-md-1" id="intro-text" >
			<p class="h5 text-justify">Despite some effort from the community and
				<a class="text-quinary" href="{% url 'profiles:faq' %}#heading-resources">great initiatives</a>, female neuroscientists <a class="text-quinary" href="https://onlinelibrary.wiley.com/doi/abs/10.1111/ejn.14397" target="_blank" rel="noopener">are
				still under-represented in neuroscience</a>.
				The aim of this Women in Neuroscience Repository is to help you identify
				and recommend female neuroscientists for conferences, symposia or collaborations.</p>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-around header-buttons">
		<div class="m-2">
			<a href="{% url 'profiles:index' %}" class="btn pill-btn header-btn text-white">View Repository</a>
		</div>
		<div class="m-2">
			<a href="{% url 'profiles:user_profile_claim' %}" class="btn pill-btn header-btn text-white">Create Profile</a>
		</div>
		<div class="m-2">
			<a href="{% url 'profiles:recommend' %}" class="btn pill-btn header-btn text-white">Recommend</a>
		</div>
	</div>
</div>

<div id="reco-carousel" class="container-fluid carousel bg-light slide" data-bs-ride="carousel" data-bs-interval="10000">
  <ol class="carousel-indicators">
	{% for reco in recommendations_sample %}
    <li data-bs-target="#reco-carousel" data-bs-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
	{% endfor %}
  </ol>
  <div class="carousel-inner m-auto">
  {% for reco in recommendations_sample %}
    <div class="carousel-item p-4{% if forloop.first %} active{% endif %}">
	<span class="text-secondary quote-icon float-left m-2"><i class="fas fa-quote-left"></i></span>
	<blockquote class="blockquote text-center m-2">
		<p class="mb-5">{{ reco.comment|truncatechars:255 }}</p>
		<footer class="blockquote-footer">{{ reco.reviewer_name }}, about 
			{% if reco.profile.user %}
				<a class="text-primary" href="{% url 'profiles:detail_username' reco.profile.user.username %}">{{ reco.profile.name }}</a>
			{% else %}
				<a class="text-primary" href="{% url 'profiles:detail' reco.profile.id %}">{{ reco.profile.name }}</a>
			{% endif %}
		</footer>
	</blockquote>
    </div>
  {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#reco-carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#reco-carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid" id="stats">
	<div class="text-center m-4" id="entries-container">
		<p class="h1 text-secondary fw-bold mb-0" id="entries-number"> </p>
		<p class="h5 text-primary" id="entries-text"><a href="{% url 'profiles:index' %}">entries in repository</a>.</p>
	</div>

	<div class="d-flex flex-wrap justify-content-center align-items-start m-4" id="chart-stats">
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartPhD" class="donutDiv"></div>
						<div id="student-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-secondary" id="PhDtext">PhD</span>
			<p class="position-text"><a href="list?s=PhD%20student" id="student-count"> profiles</a></p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartPostDoc" class="donutDiv"></div>
						<div id="postdoc-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-tertiary" id="PostDoctext">Post-doc</span>
			<p class="position-text"><a href="list?s=post-doc" id="postdoc-count"> profiles</a></p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartSenior" class="donutDiv"></div>
						<div id="senior-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-quaternary" id="Seniortext">Senior</span>
			<p class="position-text"><a href="list?senior=on" id="senior-count"> profiles</a></p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartOther" class="donutDiv"></div>
						<div id="other-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-senary" id="Othertext">Other</span>
			<p id="other-count" class="position-text"> profiles</p>
		</div>
	</div>

	<div class="row no-gutters m-4" id="country-stats">
		{% comment %} <div class="col-12 col-md-8 offset-md-2" id="map-container"> {% endcomment %}
		<div class="col-12 col-md-8 offset-md-2 m-auto" id="map-container">
			<div id="regions_div"></div>
		</div>
	</div>
</div>

<div class="container-fluid" id="stats">
	<div class=row>
		<div class="offset-md-1 offset-xl-2 col-12 col-md-5 col-lg-4 col-xl-4 col-xxl-4 p-5">
			<h2 class="text-secondary">Going to a conference soon?</h2>
			<p class="text-dark text-justify">Download our slide and insert it at the end of your presentation!
				It will raise awareness on the issue of gender equity in neuroscience and show that there are resources to
				help conference organizers. In addition, it will encourage researchers to submit recommendations of their peers.</p>
			<a href="{% static 'images/slide_nov2022.pdf' %}" id="download-slide" class="btn pill-btn slide-btn text-white btn-secondary" style="margin-left:170px" download="WiNRepo_Slide">Download slide</a>
		</div>
		<div class="col-12 col-md-5 col-lg-4 p-3">
			<div id="twitter-widget-holder">
				<section class="scrollable">
					<a class="twitter-timeline" href="https://twitter.com/WINRePo1?ref_src=twsrc%5Etfw" data-tweet-limit="5">Tweets by WINRePo1</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
				</section>
			</div>
		</div>
	</div>
</div>

{% endblock full_page_content %}

{% block footer_scripts %}
	{{ block.super }}
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% static 'profiles/js/home-graphs.js' %}?v=1"></script>
	<script src="{% static 'profiles/js/home-gtag.js' %}?v=1"></script>
{% endblock footer_scripts %}
