{% extends "base.html" %}

{% block css %} 
    {{ block.super }}
    <style media="screen">
        #accordion .btn {
            font-size: 1.2rem
        }
    </style>
{% endblock css %}

{% block title %} {{ block.super }} - Resources {% endblock title %}

{% block nav-resources-classes %}active{% endblock nav-resources-classes %}

{% block content %}
    <h2 class="text-primary font-weight-bold mb-4"> 
    Tips for conference organizers and other directory users</h2>

    <p style="text-align:justified; padding: 1em 0 0 0">
    Resources from <a href="../faq">www.winrepo.org (FAQ)</a> and 
    <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/ejn.14397#ejn14397-bib-0023">Schrouff et al., 2019</a> 
    (plus cited work).</p>

    <p>Authors: Jessica Schrouff (WiNRepo, 
    <a href="https://wimlworkshop.org/">WiML</a>), with contributions from 
    Sarah Tan (<a href="https://wimlworkshop.org/">WiML</a>), 
    <a href="https://biaswatchneuro.com/">BiasWatchNeuro (BWN)</a> and 
    Aina Frau Pascual (WiNRepo).</p>

    <p style="text-align:justified; padding: 0 0 3.5em 0">
    Here are tips that may help you increase the diversity at your events. 
    While this list mostly refers to diversity in terms of gender, we would 
    like to emphasize that diversity across different axes is desired, 
    including (but not limited to) geographical location, race, disability, 
    seniority or academia vs industry. Please note that none of the 
    suggestions in this document are a panacea, hence the impact of 
    diversity measures should be constantly re-evaluated. 
    </p>

    <h3 class="text-primary font-weight-bold mb-4"> 
    Diversity is worth the extra effort</h3>

    <p style="text-align:justified; margin-top:-1em; padding: 0 0 2em 0">
    It might seem like extra effort to ensure that an event is diverse and 
    balanced, and achieving this result might be challenging. It has however 
    been shown that diverse teams outperform homogeneous groups in 
    innovation, flexibility, problem‐solving, and decision‐making 
    (King, 2005). So it is definitely worth the extra mile and if you’re 
    here, you’re one step closer.</p>

    <h3 class="text-primary font-weight-bold mb-4"> 
    An early start can help</h3>

    <p style="text-align:justified; margin-top:-1em; padding: 0 0 2em 0">
    Organizing an event is definitely a complex task. However, organizing 
    travels while being a parent of a young child, having other 
    responsibilities (which women tend to volunteer for more often than men) 
    or having to perform a long administrative procedure to get a visa also 
    requires time. For these reasons, we’d suggest sending invitations for 
    speaking/participation as early as possible, with regular reminders.</p>

    <h3 class="text-primary font-weight-bold mb-4"> 
    Diversity across organizers and participants</h3>

    <p style="text-align:justified; margin-top:-1em; padding: 0 0 2em 0">
    Diversity should be considered at all steps of the event, starting by 
    the organizing committee. A diverse conference organizing committee can 
    indeed encourage more women to contribute and participate 
    (Klein et al., 2017). Diversity should also be considered across invited 
    speakers, in the reviewer pool and across attendees, as well as when 
    awarding prizes. It might be helpful to consider tandem nominations for 
    all those roles, i.e. for each man suggested, suggest a woman. Similarly, 
    defining clear criteria for nomination, based on a person’s expertise, 
    recent work or seniority can lead to a less biased selection.</p>

    <h3 class="text-primary font-weight-bold mb-4"> 
    Avoiding the over solicited circles</h3>

    <p style="text-align:justified; margin-top:-1em; padding: 0 0 2em 0">
    As female scientists are less visible, it is likely that the same 
    people are repeatedly solicited and thus will decline some of the 
    invitations (Moghaddam & Gur, 2016). Nonetheless, women do not decline 
    more talk invitations than men, on average (Nittrouer et al., 2018). 
    Strive to invite women (and men) that are outside the small circle of 
    repeatedly solicited scientists to avoid this potential situation (e.g., 
    using this directory). Moghaddam & Gur (2016) address the concern of 
    inviting a researcher that the organizers have not heard speak at a 
    conference before: “How many of you have heard famous men scientists give 
    dull talks? Are you taking a greater risk by inviting women to give talks 
    even though you have never heard them give a talk before? Chances are 
    that a thoughtful scientist can give a good talk.”</p>

    <h3 class="text-primary font-weight-bold mb-4"> 
    Careful correspondence</h3>

    <p style="text-align:justified; margin-top:-1em; padding: 0 0 2em 0">
    Women can be put off when the invitation clearly stems from a 
    diversity search  (Moghaddam & Gur 2016) as this emphasizes their gender, 
    and not their  work. Make sure to focus on the professional reasons and 
    give examples of published works that have triggered the invitation. Any 
    policies that have been designed to ease the contribution/attendance 
    could also be highlighted in this communication (e.g. childcare, 
    invitation letter for visa, mother nursing rooms), in addition to what 
    the invitation covers (travel stipend, hotel booked, …). As we all face 
    unique challenges, asking what other measures not mentioned could ease 
    participation might be a great learning opportunity. </p>

    <h3 class="text-primary font-weight-bold mb-4"> 
    Implementing double-blind reviews of submitted work (if relevant)</h3>

    <p style="text-align:justified; margin-top:-1em; padding: 0 0 2em 0">
    Double-blind reviews have shown to increase the rate of acceptance of 
    work by female authors (Budden et al., 2008, Roberts and Verhoef, 2016, 
    Bernard, 2018). We note that this process can be beneficial even in small 
    fields, as reviewers fail to identify authors in 74% to 90% of cases (Le 
    Goues et al., 2018). While the effect on gender does not apply to all 
    venues (e.g. Cox and Montgomerie, 2019), double-blind review can reduce 
    nepotism (Sandström and Hällsten, 2008), institutional 
    (Ross et al., 2006, Okike et al., 2016, Tomkins et al., 2017), and 
    geographic biases (Link, 1998, Primack and Mars, 2008). In addition, 
    double-blind review is a low-cost measure to implement. It is however 
    important to note that double-blind review has been shown to produce 
    harsher reviews (McGillivray and De Ranieri, 2018). One potential 
    solution is to avoid the combination of double-blind reviews with 
    “elitist” selection criteria that tend to benefit the “richer” (see this 
    opinion), as well as include a rebuttal period. Hybrid reviewing modes 
    (e.g. displaying the reviewers’ names upon acceptance) have been 
    developed recently and we encourage the reader to investigate the 
    available options.</p>

    <h3 class="text-primary font-weight-bold mb-4"> 
    Diversity as a core value</h3>

    <p style="text-align:justified; margin-top:-1em">
    Diversity should be considered as a core value of each event, and not 
    simply as a box to check. Events and policies should be thought of 
    carefully in terms of diversity to ensure the success of later actions. 
    Below are some examples of policies that can be considered in the 
    planning. Please note that this list is by no means exhaustive.</p>

    <ul>
        <li style="padding: 0 0 0.75em 0">
        Do deadlines or event dates coincide with major events for a 
        specific group (e.g. major religious celebrations, beginning of 
        school year, …)? If so, consider moving  the deadlines.</li>

        <li style="padding: 0 0 0.75em 0">
        Does the notification timeline allow enough time for visa 
        applications? It might also be worth contacting the immigration 
        services in the host country to ensure a smooth process.</li>

        <li style="padding: 0 0 0.75em 0">
        Is the event during a weekend? This might make it more difficult 
        for parents to attend and might disproportionately affect women 
        (Calisi et al., 2018).</li>

        <li style="padding: 0 0 0.75em 0">
        Is the event providing childcare or childcare fellowships? 
        Childcare is a great way to help parents attend/contribute to an 
        event. Calisi et al. (2018) have great suggestions on how to help 
        parents at conferences and (Grens, 2017) reports a successful example 
        in that regard. With respect to fellowships, it is important to 
        ensure that their amount is a significant help in the cost of 
        childcare and that they are accessible (e.g. requiring receipts or 
        invoices might limit their practical impact).</li>

        <li style="padding: 0 0 0.75em 0">
        For speakers, can travel arrangements be made and paid for by the 
        event to avoid out-of-pocket expenses?</li>

        <li style="padding: 0 0 0.75em 0">
        Has a code of conduct been adopted, with a “hotline” to report 
        incidents?</li>

        <li style="padding: 0 0 0.75em 0">
        For online events, are multiple time zones accommodated? Is a 
        free phone number provided for countries outside the US and 
        Canada?</li>

        <li style="padding: 0 0 0.75em 0">
        Is the venue accessible? This question is valid in the context of 
        physical (e.g. wheelchair) but also virtual events (e.g. deaf or 
        blind).</li>

        <li style="padding: 0 0 0.75em 0">
        Has the event considered All-gender participants (e.g. 
        gender-neutral bathrooms, pronouns on badges)? </li>

        <li style="padding: 0 0 0.75em 0">
        Are diversity-specific events (talks, panels, meetings) organized 
        and given the importance they deserve (e.g. scheduled in priority 
        times)? It is often the case that only minorities and women attend 
        these events, when diversity should concern all of us.</li>

        <li style="padding: 0 0 2em 0">
        Is the catering providing options for all, as well as clearly 
        labelled?</li>
    
    </ul>

    <h3 class="text-primary font-weight-bold mb-4"> References</h3>

    
{% endblock content %}
