{% extends "base.html" %}

{% block css %} 
    {{ block.super }}
    <style media="screen">
        #accordion .btn {
            font-size: 1.2rem
        }
    </style>
{% endblock css %}

{% block title %} {{ block.super }} - Tips {% endblock title %}

{% block nav-faq-classes %}active{% endblock nav-faq-classes %}

{% block content %}
    <h2 class="text-primary font-weight-bold mb-4"> Tips to conferences</h2>

    <div id="accordion">
    <div class="card">
        <div class="card-header" id="heading-search">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#search" aria-expanded="true" aria-controls="search" style="white-space:normal">
                Tips to conferences
            </button>
        </h5>
        </div>

        <div id="search" class="collapse show" aria-labelledby="heading-search" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">Write something here.</p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-resources">
        <h5 class="mb-0">
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#resources" aria-expanded="true" aria-controls="resources" style="white-space:normal">
                Another tip
            </button>
        </h5>
        </div>
        <div id="resources" class="collapse" aria-labelledby="heading-resources" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">Write something here.</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-recommend">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#recommend" aria-expanded="true" aria-controls="recommend" style="white-space:normal">
                Another tip
        </button>
        </h5>
        </div>
        <div id="recommend" class="collapse" aria-labelledby="heading-recommend" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">Write something here.</p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-enter">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#enter" aria-expanded="true" aria-controls="enter" style="white-space:normal">
                Another tip
            </button>
        </h5>
        </div>
        <div id="enter" class="collapse" aria-labelledby="heading-enter" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">Write something here.</p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-edit">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#edit" aria-expanded="true" aria-controls="edit" style="white-space:normal">
                Another tip
            </button>
        </h5>
        </div>
        <div id="edit" class="collapse" aria-labelledby="heading-edit" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">Write something here.
            </p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-gdpr">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#gdpr" aria-expanded="true" aria-controls="gdpr" style="white-space:normal">
                Another tip
            </button>
        </h5>
        </div>
        <div id="gdpr" class="collapse" aria-labelledby="heading-gdpr" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">Write something here.
            </p>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}
