
body {
	font-family:'Open Sans', 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Nunito', 'Lato', sans-serif;
}

.full_page {
	padding: 65px 0px 0px 0px;
}
.page-container {
	padding: 20px 50px 70px 50px;
}

.intro p {
	font-size: medium;
}

/* navbar */
.navbar {
    height: 5%;
}

.navbar-custom  {
	background-color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #555;
}
.navbar-custom .navbar-nav .nav-link {
    color: #555;
}

/* Settings for active links */
.navbar-custom .nav-item.active .nav-link {
	color: #10898B; /*red #CC063E*/
	text-decoration: underline;
	font-weight: bold;
}

/* Settings when cursor is on the top */
.navbar-custom .nav-item:hover .nav-link {
  color: #10898B;
}

/* The dropdown container */
.dropdown {
  display: inline-block
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #555;
  padding: 6px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Settings when cursor is on top of dropdown menu */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: none;
    color: #10898B;
    text-decoration: underline;
	  font-weight: bold;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: underline;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

/* head */
.headtitle {
	font-family: 'Nunito', sans-serif;
}

.headtitle>.women {
	font-family: 'Pacifico',sans-serif;
	color: #CC063E;
	font-size: 3rem;
	text-shadow: 0px 0px 1px white;
}

.page-footer a {
	color: #fff;
}

.grey-bg {
    background-color: #e6e6e6;
}

.link-secondary {
	color: #CC063E;
}

.pill-btn {
	border-radius: 50px;
}

#winrepo-logo > img {
	height: 38px;
}
