:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #28a745;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-success: #28a745;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;

  --bs-success-rgb: 40,167,69;
  --bs-info-rgb: 23,162,184;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;

  --bs-link-color: #10898B;
  --bs-link-hover-color: #10898B;
  
  --bs-primary: #10898B;
  --bs-primary-rgb: 16,137,139;
  --bs-secondary: #CC063E;
  --bs-secondary-rgb: 204,6,62;
  --bs-tertiary: #E83535;
  --bs-quaternary: #FD9407;
  --bs-quinary: #E2D9C2;
  --bs-senary: #999;
}

body {
  font-family:'Open Sans', 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Nunito', 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

form fieldset {
  border: 1px solid #CCC;
  padding: 1rem;
  margin-bottom: 1rem;
}

form fieldset legend {
  font-size: 1rem;
  padding: 1rem;
  display: inline-block;
  width: auto;
  background: #FFF;
}

.full_page {
  padding: 65px 0px 0px 0px;
}
#page-container {
  padding: 20px 10px 70px 10px;
  flex-grow: 1;
}
@media (min-width: 768px){
  #page-container {
    padding: 20px 20px 70px 20px;
  }
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 16,137,139;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-gray);
    --bs-btn-disabled-border-color: var(--bs-gray);
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-gray);
    --bs-btn-disabled-border-color: var(--bs-gray);
}

.btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-secondary);
    --bs-gradient: none;
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-secondary);
    --bs-gradient: none;
}

.intro p {
  font-size: medium;
}

/* navbar */

.navbar  {
  background-color: white;
}
.navbar .navbar-brand,
.navbar .navbar-text {
    color: #555;
}
.navbar .navbar-nav .nav-link {
    color: #555;
}

/* Settings for active links in the navigation bar */
.navbar .nav-item.active .nav-link {
  color: #10898B; /*red #CC063E*/
  text-decoration: underline;
  font-weight: bold;
}

/* Settings when cursor is on the top of item in navigation bar*/
.navbar .nav-item:hover .nav-link {
    color: #10898B;
}

/* The dropdown container */
.dropdown {
    display: inline-block;
}

/* Default settings of top button of dropdown menu*/
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #555;
    padding: 8px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

/* Settings when cursor is on top of dropdown menu */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: none;
    color: #10898B;
    text-decoration: underline;
    font-weight: bold;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Default settings of items in the dropdown menu */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #555;
}

/* Show grey-bar selection when cursor is on the top of dropdown-menu item */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show grey-bar selection when cursor is on the top of dropdown-menu item */
.dropdown-content:active {
    background-color: #ddd;
}

/* Show dropdown menu */
.dropdown:hover .dropdown-content {
    display: block;
}

/* head */
.headtitle {
  font-family: 'Nunito', sans-serif;
}

.headtitle>.women {
  font-family: 'Pacifico',sans-serif;
  color: #CC063E;
  font-size: 3rem;
  text-shadow: 0px 0px 1px white;
}

.page-footer a {
  color: #fff;
}

.grey-bg {
    background-color: #e6e6e6;
}

.link-secondary,
.link-secondary:hover {
  color: #CC063E !important;
}

  color: #CC063E !important;
}

.pill-btn {
  border-radius: 50px;
}

.text-quinary {
  color: var(--bs-quinary) !important;
}

.text-justify {
  text-align: justify;
}

#winrepo-logo > img {
  height: 38px;
}


#list-search {
  padding-top: 100px;
  padding-bottom: 30px;
}

#list-search .custom-control-label:before, #list-search .custom-control-label:after {
  background-color:#fff;
  border-radius: 2px;
}

#list-search .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
#list-search .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-color:#1c898a;
  border-radius: 2px;
}

#search-message>span {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#search {
  border: white;
  border-left: #e6e6e6;
}

#search:focus {
  box-shadow: none;
}

#search-form .input-group-prepend {
  height: 3em;
}

.input-group-text {
  line-height: 2.5rem;
  border: white;
}

.entries-number {
  border-bottom: 1px solid #ababab;
}

.table-entry {
  border-bottom: 1px solid #cdcdcd;
}

.table-entry .keywords-list {
  max-height: 120px;
  overflow: hidden;
}

.table-entry .actions a {
  font-size: .9em;
}

.num-rec {
  font-size: 24px;
}

#results-nav a.pill-btn {
  width: 110px;
}

#page-number {
  line-height: 2.9em;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  background: #cacaca;
  color: #fafafa;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0px;
  font-size: 42px;
  line-height: 50px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #10898B;
}

#back-to-top.show {
  opacity: 1;
}

.field-of-research-list > div {
  border-right: 1px solid #ccc;
}

.field-of-research-list > div:last-child {
  border-right: none;
}

li.quote .quote-date {
  line-height: 1.6rem;
}

/* Autocomplete fields  */
.modelselect2 {
  height: auto!important;
} 

.modelselect2 > span {
  height: 100%!important;
}

.select2-selection {
  border: 1px solid #ced4da!important;
}
  
.select2-container {
  width: 100%!important;
}

#faq .card-header {
  cursor: pointer;
}
