{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} - Sign Up
{% endblock title %}

{% block nav-signup-classes %}active{% endblock nav-signup-classes %}

{% block content %}

{% if form.errors %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
		</div>
	{% endfor %}
{% endif %}

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-12">
			<h2 class="text-primary font-weight-bold">Create your Account</h2>
			<div class="pt-2 mt-4 w-100 text-muted">
				<form method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<div class="text-right">
						<a class="btn btn-outline-danger pill-btn" href="{% url 'profiles:user' %}" role="button">
							Cancel
						</a>
						<button type="submit" class="btn btn-primary pill-btn">
							Create
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
