{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
	{{ block.super }} - Account Details
{% endblock title %}

{% block nav-user-classes %}active{% endblock nav-user-classes %}

{% block full_page_content %}
	<div id="list-search" class="w-100 bg-primary" style="height:250px; margin-bottom:-150px;"></div>
{% endblock full_page_content %}

{% block content %}

{% include "fragments/profile.html" with profile=user.profile %}

<div id="results-nav" class="border-top pt-2 mt-4 w-100 text-muted">
	<div class="float-right">
		<a class="btn btn-outline-primary pill-btn" href="{% url 'profiles:user_profile_edit' %}">Edit</a>
	</div>
</div>

{% endblock content %}

{% block footer_scripts %}
	{{ block.super }}
	<script src="{% static 'profiles/js/profile-gtag.js' %}?v=1"></script>
{% endblock footer_scripts %}
