{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
	{{ block.super }} - Account Details
{% endblock title %}

{% block nav-user-classes %}active{% endblock nav-user-classes %}

{% block full_page_content %}
	<div id="list-search" class="w-100 bg-primary" style="height:250px; margin-bottom:-150px;"></div>
{% endblock full_page_content %}

{% block content %}

{% if user.profile %}
	{% include "fragments/profile.html" with profile=user.profile %}
	<div class="border-top pt-2 mt-4 w-100 text-muted">
		<div class="float-right">
			<a class="btn btn-outline-primary pill-btn" href="{% url 'profiles:user_profile_edit' %}">Edit</a>
		</div>
	</div>
{% else %}
	<h3 class="text-primary font-weight-bold mt-2">
		<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
		Create your Public Profile
	</h3>
	<div class="p-3 mt-4 border rounded text-center col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<p>Do you identify yourself as a woman in the field of neuroscience? If so, create your public profile!</p>
		<a class="btn btn-primary mt-5 ml-5 mr-5" style="white-space: normal;" href="{% url 'profiles:user_profile_claim' %}" role="button">
			I identify myself as a woman <br> and want to create a public profile
		</a>
		<a class="btn mt-5 ml-5 mr-5" style="white-space: normal;" href="{% url 'profiles:user' %}" role="button">
			Continue to the website
		</a>
	</div>
{% endif %}

{% endblock content %}
