{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} - Edit Account
{% endblock title %}

{% block nav-create-classes %}active{% endblock nav-create-classes %}

{% block content %}
{% if form.errors %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
		</div>
	{% endfor %}
{% endif %}

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-12">
			<h2 class="text-primary font-weight-bold">Edit Account</h2>
			<div class="pt-2 mt-4 w-100 text-muted">
				<form method="post">
					{% csrf_token %}
					{{ form.name|as_crispy_field }}
					{{ form.email|as_crispy_field }}
					<button type="submit" class="btn btn-primary pill-btn">
						Update
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
