
{% load captureas %}

{% captureas profile_buttons_cap %}{% block profile_buttons %}{% endblock %}{% endcaptureas %}

<div class="container-fluid">
	<div class="row no-gutters">
		{% if profile_buttons_cap %}
		<div class="col-xs-6 col-sm-8 col-md-9 text-muted details-grey">
		{% else %}
		<div class="col-xs-12 text-muted details-grey">
		{% endif %}
			<h2 class="text-primary fw-bold">{{ profile.name }}</h2>
			<p class="m-1"><i class="fas fa-user"></i> {{ profile.position }}</p>
			<p class="m-1"><i class="fas fa-university"></i> {{ profile.institution }}</p>
			<p class="m-1"><i class="fas fa-map-marker-alt"></i> {{ profile.country }}</p>
			{% if profile.grad_year %}
				<p class="m-1">
					<i class="fas fa-graduation-cap"></i> {{ profile.grad_month_labels }} {{ profile.grad_year }}
					<small class="d-block ms-4">Highest Degree</small>
				</p>
			{% endif %}

			<div class="row no-gutters mt-3 mb-3">
				{% if not profile_buttons_cap %}
				<div class="col-xs-12 col-sm-12 text-center mt-4">
				{% else %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 col-xxl-8 offset-xxl-2 text-center mt-4">
				{% endif %}
					{% if profile.orcid %}
						<a class="btn pill-btn btn-primary m-1" href="https://orcid.org/{{ profile.orcid }}" target="_blank" rel="noopener">
							<i class="fab fa-orcid"></i> ORCID
						</a>
					{% endif %}
					{% if profile.twitter %}
						<a class="btn pill-btn btn-primary m-1" href="https://twitter.com/{{ profile.twitter }}" target="_blank" rel="noopener">
							<i class="fab fa-twitter"></i> Twitter
						</a>
					{% endif %}

					{% if profile.linkedin %}
						<a class="btn pill-btn btn-primary m-1" href="https://linkedin.com/in/{{ profile.linkedin }}" target="_blank" rel="noopener">
							<i class="fab fa-linkedin"></i> LinkedIn
						</a>
					{% endif %}
					{% if profile.github %}
						<a class="btn pill-btn btn-primary m-1" href="https://github.com/{{ profile.github }}" target="_blank" rel="noopener">
							<i class="fab fa-github"></i> GitHub
						</a>
					{% endif %}
					{% if profile.google_scholar %}
						<a class="btn pill-btn btn-primary m-1" href="https://scholar.google.com/citations?user={{ profile.google_scholar }}" target="_blank" rel="noopener">
							<i class="fas fa-scroll"></i> Google Scholar
						</a>
					{% endif %}
					{% if profile.researchgate %}
						<a class="btn pill-btn btn-primary m-1" href="https://www.researchgate.net/profile/{{ profile.researchgate }}" target="_blank" rel="noopener">
							<i class="fab fa-researchgate"></i> ResearchGate
						</a>
					{% endif %}
				</div>
			</div>
			<div id="profile-id" class="d-none">{{ profile.id }}</div>
		</div>
		{% autoescape off %}
			{{ profile_buttons_cap }}
		{% endautoescape %}
	</div>
	<div class="row no-gutters">
		<h5 class="text-primary fw-bold mt-5">
			<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
			Field of Research
		</h5>
		<div class="w-100 p-4 mt-3 d-flex flex-row grey-bg rounded field-of-research-list">
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary fw-bold">Brain Area</h6>
				<ul class="list-group list-group-flush">
					{% for structure in profile.brain_structure_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ structure }} </li>
					{% endfor %}
				</ul>
			</div>
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary fw-bold">Domain</h6>
				<ul class="list-group list-group-flush">
					{% for domain in profile.domains_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ domain }} </li>
					{% endfor %}
				</ul>
			</div>
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary fw-bold">Modalities</h6>
				<ul class="list-group list-group-flush">
					{% for modality in profile.modalities_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ modality }} </li>
					{% endfor %}
				</ul>
			</div>
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary fw-bold">Methods</h6>
				<ul class="list-group list-group-flush">
					{% for method in profile.methods_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ method }} </li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	{% if profile.keywords %}
	<div class="row no-gutters">
		<div id="keywords">
			<h5 class="text-primary fw-bold mt-5">
				<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
				Other keywords
			</h5>
			<div class="grey-bg p-4 mt-3 rounded">
				<p>{{ profile.keywords }}</p>
			</div>
		</div>
	</div>
	{% endif %}

	{% if recommendations %}
	<div id="recommendations">
		<h5 class="text-primary fw-bold mt-5">
			<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
			Recommendations
		</h5>
		{% if profile.recommendations.all %}
		<span class="text-primary float-right" style="margin-top:-34px;"><i class="fas fa-comment num-rec"></i> {{ profile.recommendations.count }}</span>
			<ul id="profile-quotes" class="list-unstyled">
			{% for recommendation in profile.recommendations.all %}
				<li class="quote grey-bg p-4 mt-3 rounded">
					<h5 class="quote-reviewer text-secondary fw-bold">{{ recommendation.reviewer_name }}
					<small>({{ recommendation.reviewer_position }} - {{ recommendation.reviewer_institution }})</small>
					<small class="text-muted float-right quote-date">{{ recommendation.published_at | date:"M d, Y" }}</small>
					</h5>
					<blockquote><p>{{ recommendation.comment }}</p></blockquote>
				</li>
			{% endfor %}
			</ul>
			<div class="d-flex justify-content-end">
				<a class="btn pill-btn btn-outline-primary m-1" href="{% url 'profiles:recommend_profile' profile.id %}">
					<i class="fas fa-comment"></i> Recommend
				</a>
			</div>
		{% else %}
			<div class="m-1 pt-4">
			<p>No recommendations have been made for {{ profile.name }} yet.</p>
			{% if not user.is_authenticated or profile.id != user.profile.id %}
				<p>Have you seen her at a conference? If so, please consider
					<b><a href="{% url 'profiles:recommend_profile' profile.id %}" target="_blank">writing her one.</a></b>
				</p>
			{% endif %}
			</div>
		{% endif %}
		<p class="m-1"></p>
	</div>

	{% endif %}
</div>
