
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-xs-6 col-sm-8 col-md-9 text-muted details-grey">
			<h2 class="text-primary font-weight-bold">{{ profile.name }}</h2>
			<p class="m-1"><i class="fas fa-user"></i> {{ profile.position }}</p>
			<p class="m-1"><i class="fas fa-university"></i> {{ profile.institution }}</p>
			<p class="m-1"><i class="fas fa-map-marker-alt"></i> {{ profile.country }}</p>
			{% if profile.grad_year %}<p class="m-1"><i class="fas fa-graduation-cap"></i> {{ profile.grad_month_labels }} {{ profile.grad_year }}</p>{% endif %}
			<div id="profile-id" class="d-none">{{ profile.id }}</div><!-- Used to pass profile ID to jQuery in profile_details.js -->
		</div>

		{% block profile_buttons %}{% endblock %}
	</div>
	<div class="row no-gutters">
		<h5 class="text-primary font-weight-bold mt-5">
			<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
			Field of Research
		</h5>
		<div class="w-100 p-4 mt-3 d-flex flex-row grey-bg rounded field-of-research-list">
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary font-weight-bold">Brain Area</h6>
				<ul class="list-group list-group-flush">
					{% for structure in profile.brain_structure_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ structure }} </li>
					{% endfor %}
				</ul>
			</div>
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary font-weight-bold">Domain</h6>
				<ul class="list-group list-group-flush">
					{% for domain in profile.domains_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ domain }} </li>
					{% endfor %}
				</ul>
			</div>
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary font-weight-bold">Modalities</h6>
				<ul class="list-group list-group-flush">
					{% for modality in profile.modalities_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ modality }} </li>
					{% endfor %}
				</ul>
			</div>
			<div class="w-25 p-2 text-center">
				<h6 class="text-secondary font-weight-bold">Methods</h6>
				<ul class="list-group list-group-flush">
					{% for method in profile.methods_labels %}
					<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ method }} </li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
		
	{% if profile.keywords %}
	<div class="row no-gutters">
		<div id="keywords">
			<h5 class="text-primary font-weight-bold mt-5">
				<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
				Other keywords
			</h5>
			<div class="grey-bg p-4 mt-3 rounded">
				<p>{{ profile.keywords }}</p>
			</div>
		</div>
	</div>
	{% endif %}

	{% if recommendations %}
	<div id="recommendations">
		<h5 class="text-primary font-weight-bold mt-5">
			<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
				Recommendations
		</h5>
		{% if profile.recommendations.all %}
		<span class="text-primary float-right" style="margin-top:-34px;"><i class="fas fa-comment num-rec"></i> {{ profile.recommendations.count }}</span>
			<ul id="profile-quotes" class="list-unstyled">
			{% for recommendation in profile.recommendations.all %}
				<li class="quote grey-bg p-4 mt-3 rounded">
					<h5 class="quote-reviewer text-secondary font-weight-bold">{{ recommendation.reviewer_name }}
					<small>({{ recommendation.reviewer_position }} - {{ recommendation.reviewer_institution }})</small>
					<small class="text-muted float-right quote-date">{{ recommendation.published_at | date:"M d, Y" }}</small>
					</h5>
					<blockquote><p>{{ recommendation.comment }}</p></blockquote>
				</li>
			{% endfor %}
			</ul>
			<div class="d-flex justify-content-end">
				<a class="btn pill-btn btn-outline-primary m-1" href="{% url 'profiles:recommend_profile' profile.id %}">
					<i class="fas fa-comment"></i> Recommend
				</a>
			</div>
		{% else %}
			<div class="m-1 pt-4">
			<p>No recommendations have been made for {{ profile.name }} yet.</p>
			{% if not user.is_authenticated or profile.id != user.profile.id %}
				<p>Have you seen her at a conference? If so, please consider
					<b><a href="{% url 'profiles:recommend_profile' profile.id %}" target="_blank">writing her one.</a></b>
				</p>
			{% endif %}
			</div>
		{% endif %}
		<p class="m-1"></p>
	</div>

	{% endif %}
</div>
